/* src/components/HabitDetails.css */

.habit-details-container {
  padding: 20px;
  background-color: #f0f4c3; /* Light Green background */
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.habit-details-container h1, 
.habit-details-container p {
  margin: 10px 0;
}

.habit-details-container ul {
  list-style: none;
  padding: 0;
}

.habit-details-container ul li {
  padding: 10px;
  margin: 5px 0;
  background-color: #8bc34a; /* Light Green background */
  color: #fff;
  border-radius: 5px;
}

.delete-button {
  padding: 10px 20px;
  background-color: #e57373; /* Red background */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.delete-button:hover {
  background-color: #d32f2f; /* Dark Red on hover */
}
