/* Home styles */

.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('https://source.unsplash.com/1600x900/?nature,water') no-repeat center center/cover;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    padding: 20px;
  }
  
  .home-content {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 40px;
    border-radius: 10px;
    text-align: center;
  }
  
  .home-content h1 {
    font-size: 3em;
    margin-bottom: 20px;
  }
  
  .home-content p {
    font-size: 1.5em;
    line-height: 1.6;
  }
  